:root {
    --dark: #44475a;
    --dark2: #282a36;
    --light: #f8f8f2;
    --white: #ffffff;
    --blue: #6272a4;
    --black: #2d2d2d;
    --borderRadius: 10px;
    --shadows: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
